<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>Welcome to xunxun87's Milestone Project Webpage!</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
  </head>
  <body>
    <! A simple form for changing the graph>
    <h1> Xun's stock price query/analysis system</h1>
    <h4> 1. Please select your settings to get desired plots of historical prices of the stock sticker, eg. AAPL.</h4>
    <form name="color_button" method='GET'>
        Color: 
        <select name="color">
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option selected="selected" value="Black">Black</option>
        </select>
        <br>
        Stock symbol:
        <input type="text" name= 'ticker'>
        <br>
        Start date:
        <input type="text" name="_from" value="{{ _from }}">
        <br>
        End date:
        <input type="text" name="to" value="{{ to }}">
        <br>
        Type of Price:
        <input type="text" name="typeP" value="{{ typeP }}">
        <br>
        <br>
        1 for 'Open', 2 for 'Close', 3 for 'High', 4 for 'Low', 5 for 'Volume'
        <br>
        <p>
            <input type="checkbox" name='features' value='Open'>Opening price<br>
            <input type="checkbox" name='features' value='Close'>Closing price<br>
            <input type="checkbox" name='features' value='High'>Highest price<br>
            <input type="checkbox" name='features' value='Low'>Lowest price<br>
            <input type="checkbox" name='features' value='Volume'>Volume price<br>
            <input type="checkbox" name='features' value='Adj. Close'>Adjusted closing price<br>
       </p>
        <button type="submit">Submit</button>
    </form>
    {{ plot_div|indent(4)|safe }}
    <h4>2. Statistcal Analysis of prices.</h4>
  </body>
</html>
